
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');


*,*::before, *::after {
    box-sizing: border-box;
    font-family: 'Sedgwick Ave', cursive, Times;
}

h1 {
    position: fixed;
    top: 20px;
    font-size: 90px;
}

footer {
    position: fixed;
    bottom: 20px;
}

.sports-link > li {
    display: inline;
    font-size: 35px;
    color: #fff810;
}

.sports-link i {
    color: black;
}


body {
    
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: #fff810;
    font-size: large;
}

body.correct {
    background-color: #63e89e;
}

body.wrong {
    background-color: rgb(250, 68, 68);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: #63e4e8;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 2px soild white;
    background-color: #ff7ee3;
    border-radius: 5px;
    padding: 10px 15px;
    color: ivory;
    outline: none;
    font-size: large;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color: #0fe26e;
    color: black;
}

.btn.wrong {
    background-color: rgb(250, 68, 68);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hide {
    display: none;
}
