
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');


*,*::before, *::after {
    box-sizing: border-box;
    font-family: 'Sedgwick Ave', cursive, Times;
}

:root {
    --hue-normal: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-normal);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: rgb(216, 146, 66);
}

body.correct {
    background-color: green;
}

body.wrong {
    background-color: rgb(150, 7, 7);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: royalblue;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 1px soild grey;
    background-color: lightskyblue;
    border-radius: 5px;
    padding: 10px 15px;
    color: ivory;
    outline: none;
    
    
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color: green;
    color: black;
}

.btn.wrong {
    background-color: rgb(150, 7, 7);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hide {
    display: none;
}
